streamlit
langchain
langchain_community
langchain_groq
sentence-transformers
pypdf
docx2txt
python-docx
cassandra-driver
requests
tqdm
cassio
duckduckgo-search

sentence-transformers
python-dotenv
numpy

langchain_core

